ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    transition: 0.2s ease;

    &:hover {
      background: #f1f1f1;
    }

    button {
      border: none;
      padding: 6px 10px;
      border-radius: 6px;
      background: #e30000;
      color: white;
      font-size: 13px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background: #e53935;
      }
    }
  }
}

div {
  text-align: center;
  padding: 15px;
  background: #fafafa;
  border-radius: 8px;
  color: #777;
  font-style:normal;
}
