
.contenedor-principal {
  padding: 40px;
  max-width: 1200px;
  margin: 40px auto;
}


.titulo {
  text-align: center;
  margin-bottom: 30px;
  color: #cd63b1;
}


.contenido {
  display: flex;
  gap: 40px;
}


.formulario {
  flex: 1;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(36, 183, 125, 0.05);
}


.lista {
  flex: 2;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.alert {
  margin-top: 15px;
  padding: 10px;
  background-color: #e8f5e9;
  color: #932aa1;
  border-radius: 6px;
}
